header{
  background-color: #00aaff!important;
  padding-left: 20px;
  margin-bottom: 20px;

  button.navbar-toggler {
    margin-right: 10px;
  }
  .bg-light{
    background-color: #00aaff!important;

    .logo{
      width: 80px;
      margin-right: 10px;
      position: relative;
      bottom:15px
    }
  }
  fa-icon {
    font-size: 20px;
    margin-right: 5px;
  }
  .navbar-brand span {
    font-family: 'Righteous', cursive;
    position: relative;
    top:5px;
  }
  #navbarNav {
    //display: flex !important;
    flex-basis: auto;
    justify-content: space-between;
  }
  /*form.form-inline.my-2.my-lg-0 {
    position: relative;
    float: right;
  }*/
  button.btn.btn-outline-success.my-2.my-sm-0 {
    display: block;
    float: right;
    position: relative;
    //align-content: center;
    bottom: 20px;
    left: 55px;
    //border-radius: 50%;
    color: rgba(0, 0, 0, 0.55);
    border-color: rgb(33, 84, 156);
    background-color: rgb(33, 84, 156);


  }
  .user{
    display: flex;
    margin-left: 15px;
    //color:white;
    margin-top: 5px;
    .name{
      margin-right: 10px;
      margin-left: 5px;
      margin-top:10px;
    }
    fa-icon#iconaUtente {
      margin-top: 5px;
    }
    a{
      //color: white!important;
      margin-left: 5px;
      text-decoration: none;
      cursor: pointer!important;
    }

    span.nuovo-film {
      margin-top: 7px;
    }
    a.nav-link.piu {
      margin-top: -8px;
    }
  }
}
#container-search {
  text-align: right;
  margin-right: 30px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  .cerca {
    width: 80%;
    float: left;
    margin-right: 5px;
    height: 43px;
  }

  button.btn.btn-primary {


    color: rgba(0, 0, 0, 0.55);
    border-color: rgb(33, 84, 156);
    background-color: rgb(33, 84, 156);


  }
}

