<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="home">
      <img src="../assets/images/logo-film-futuri.png" class="logo" alt="logo film futuri">
      <span>Film Futuri</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">
            <fa-icon [icon]="homeIcon"></fa-icon>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home">
            <fa-icon [icon]="trailerIcon"></fa-icon>Trailer</a>
        </li>
        <li>
          <a class="nav-link" routerLink="cinema">
            <fa-icon [icon]="cinemaIcon"></fa-icon>Cinema</a>
        </li>
        <li>
          <a class="nav-link" >
            <fa-icon [icon]="tvIcon"></fa-icon>Piattaforme Digitali</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><fa-icon [icon]="searchIcon"></fa-icon></button>
      </form>
    </div>
  </nav>
</header>
