<div class="container-pagination" *ngIf="paginazione">
<div>
  <strong>{{filmPerPagina}}</strong> Films su un totale di <strong>{{films.length}}</strong> <br> pagina corrente <strong>{{page}}</strong>
  <p-paginator [rows]="filmPerPagina" [totalRecords]="films.length" (onPageChange)="paginate($event)"
  [rowsPerPageOptions]="[2,4,8]" (rowsPerPageOptionsChange)="filmPerPagina"></p-paginator>

</div>

<!--<ngb-pagination [collectionSize]="films.length * 2 + (filmPerPagina * 2) - filmPerPagina" [(page)]="page" aria-label="default pagination" >
</ngb-pagination>-->
</div>
<div class="container-movies">
  <div class="card" *ngFor="let movie of films | slice: (page * filmPerPagina) - filmPerPagina : page * filmPerPagina">
    <div class="card-image" [ngStyle]="{'background-image': 'url('+movie.image+')'}"></div>
    <div class="card-body">
      <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text"><span [innerHTML]="movie.description| slice: 0:100 "></span>...</p>
      <a class="btn btn-primary" routerLink="/films/{{movie.type}}/informazioni/{{movie.title}}/{{movie.category}}/{{movie._id}}">Informazioni</a>
    </div>
  </div>
</div>
<div class="container-pagination" *ngIf="paginazione">
  <p-paginator [rows]="filmPerPagina" [totalRecords]="films.length" (onPageChange)="paginate($event)"></p-paginator>
  <!--<ngb-pagination [collectionSize]="films.length * 2 + (filmPerPagina * 2) -filmPerPagina " [(page)]="page" aria-label="default pagination" >
  </ngb-pagination>-->

</div>
