<app-carousel></app-carousel>
<section id="main-container">
  <div class="contenier-title">
    <h2>Benvenuti in Film Futuri</h2>
    <h3>Scopri i prossimi film in uscita</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</section>
<div class="ultimi-film">
  <h3>Usciti al cinema</h3>
  <div class="films">
    <!--<app-recipe-card [recipes]="ricette"></app-recipe-card>-->
    <app-movie-card [pagina]="'cinema'" [paginazione]="false"></app-movie-card>
  </div>
</div>
<div class="ultimi-film">
  <h3>Usciti in digitale</h3>
  <div class="films">
    <!--<app-recipe-card [recipes]="ricette"></app-recipe-card>-->
    <app-movie-card [pagina]="'piattaforme digitali'" [paginazione]="false"></app-movie-card>
  </div>
</div>

<!-- MODALE DELLA REGISTRAZIONE-->
<ng-template [ngIf]="nome">
  <div>
    <div id="dati-utente">
      <h2>Grazie {{nome}} {{cognome}} per esserti registrato/a</h2>
      <ul>
        <li>Nome: <strong>{{nome}}</strong></li>
        <li>Cognome: <strong>{{cognome}}</strong></li>
        <li>Email: <strong>{{email}}</strong></li>
      </ul>
      <button class="btn btn-primary" (click)="closeModal()">chiudi</button>
    </div>
  </div>
</ng-template>
