<section>
  <div class="profilo">
    <h2>Ciao {{user.name}}</h2>
    <h3>Ecco il riepilogo dei tuoi dati</h3>
    <ul>
      <li><strong>Nome: </strong> {{user.name}}</li>
      <li><strong>Cognome: </strong> {{user.surname}}</li>
      <li><strong>Data di nascita: </strong> {{dataNascita}}</li>
      <li><strong>Email: </strong> {{user.email}}</li>
      <li><strong>Ruolo: </strong> {{user.role}}</li>
      <li><strong>Iscritto dal: </strong> {{dataRegistrazione}}</li>
      <li><strong>Ultimo aggiornamento: </strong> {{dataAggiornamento}}</li>
    </ul>
  </div>



</section>
