#stile-default{
  h1{
    text-align: center;
    color: #00aaff;
  }

}
#stile-cinema{
  h1{
    text-align: center;
    color: #00aaff;
  }
}

#stile-digitali{
  h1{
    text-align: center;
    color: #00aaff;
  }
}

#stile-all{
  h1{
    text-align: center;
    color: #00aaff;
  }
}
