@import "../../../shared/styles/colori.scss";
.container-detail{
  display: block;
  //height:100vh;
  margin-top: -19px;


  .detail-body{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
  }

  .detail-image{
    //display: flex;
    height: 550px;
    .locandina{
      float: left;
      height: 550px;
      width: 22%;
      margin-left: -0%;
      margin-right: 0.5%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }
    .foto1{
      float:left;
      height: 550px;
      width: 50%;
      margin-right: 0.5%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }
    .foto2{
      float:left;
      height: 270px;
      width: 27%;
      margin-bottom: 0.25%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }
    .foto3{
      float:left;
      height: 270px;
      width: 27%;
      margin-top: 0.25%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }

  }


  .detail-text{
    text-align: justify;
  }
  .detail-title{
    font-weight: bold;
    //font-size: 16px;
    color:#00aaff;
    margin-bottom:20px;
    text-align: center
  }

  .bottone-indietro1{
    margin-top: 20px;
    position: relative;
    top: 10px;
  }
  .bottone-indietro2{
    margin-top: 20px;
    position: relative;
    bottom: 10px;
  }

  .btn.btn-primary{
    background-color: $primary-color-1;
    border-color: $primary-color-1;
  }
  .identificatore{
    font-weight: bold;
    color: $primary-color-1;
  }

  p {
    margin-top: -24px;
    margin-left: 60px;
    margin-bottom: 0rem;
    /* float: right; */
  }
  ul li{
    list-style: none;
    margin: 10px;
    margin-left: -20px;

  }

  .rounded{
    border-radius: 1rem !important;
  }
  .border{
    border-color:black !important;
    border-width: 1px !important;
  }
}
