/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
  font-family: 'Advent Pro', sans-serif;
}


ngb-carousel.carousel.slide{
  background-image: url("../src/assets/images/carouselDefault.jpg");
  margin-top: -19px;
  margin-bottom: 20px;

  .picsum-img-wrapper {
    margin-left: 39%;
  }
  .carousel-caption {
    top:26rem;

    h3 {
      font-size: 50px;
      text-shadow: black 2px 3px 3px;
    }
    h2{
      font-size: 16px;
      text-shadow: black 2px 2px 2px;
      font-weight: lighter;
    }
  }

  .carousel-control-prev, .carousel-control-next{
    opacity: 1!important;
    .carousel-control-prev-icon, .carousel-control-next-icon {
      width: 4rem;
      height: 4rem;
    }
  }


}


//password
.p-password{
  display: block!important;
}

.p-inputtext{
  width: 100%!important;
}

.p-password-input{
  width: 100%!important;
}

//paginazione

.container-pagination{
  display: block;
  clear: both;
  text-align: center;
  margin-bottom: 20px;
}

.pagination{
  display: flex;
  justify-content: center;
}
.testo-ricette-totali
  {
    margin-bottom: 20px!important;
  }

.description .ck-editor__editable{
  min-height: 250px!important;//devo metterle entrambe uguali altrimenti non cambia l'altezza
  max-height: 250px!important;

}
